/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 body {
  font-family: cursive;
 }
 a {
  text-decoration: none;
 }
 li {
  list-style: none;
 }




 /* NAVBAR STYLING STARTS */
 .title {
  font-size: 32px;
 }
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #333;
  color: #fff;
  width: 100%;
 }
 .nav-links a {
  color: #fff;
 }




 /* NAVBAR MENU */
 .menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
 }
 .menu li:hover {
  background-color: #777;
  border-radius: 5px;
  transition: 0.3s ease;
 }

 /* .menu li.active {
  background-color: #555;

} */
 .menu li {
  padding: 5px 14px;
 }





 /* DROPDOWN MENU */
 .Projects {
  position: relative; 
 }

 .dropdown {
  background-color: #555;
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
 } 
 
 .Projects:hover .dropdown {
  display: block;
 }


 /* .dropdown-content li + li {
  margin-top: 10px;
 } */

 .dropdown-content li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
 }


 /* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
} 


 .dropdown-content:hover {
  display: none;
  position: absolute;
  background-color: #555;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content {
  float: none;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}












.ThreeProjects {
  position: relative; 
 }

 .dropdown2 {
  background-color: #555;
  padding: 1em 0;
  position: absolute; /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  top: 35px;
 } 
 
 .ThreeProjects:hover .dropdown2 {
  display: block;
 }


 .dropdown2-content li + li {
  margin-top: 10px;
 }
 .dropdown2-content li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
 }
 /* .dropdown2-content li:hover {
  background-color: #656767;
 } */

 /* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown2:hover .dropdown2-content {
  display: block;
} 


 .dropdown2-content:hover {
  /* display: none; */
  position: absolute;
  background-color: #555;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown2-content {
  float: none;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}












 /*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
  display: none;
 } 
 /*HAMBURGER MENU*/
 .hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
 }

 /* APPLYING MEDIA QUERIES */
 @media (max-width: 768px) 
 {

        .menu { 
          display:none;
          position: absolute;
          background-color: #333;
          right: 0;
          left: 0;
          text-align: center;
          padding: 16px 0;
        }
        .menu li:hover {
          display: block;
          background-color:#4c9e9e;
          transition: 0.3s ease;
        }
        
        /* .menu li + li {
          margin-top: 12px;
        } */
        input[type=checkbox]:checked ~ .menu{
          display: block;
        }
        .hamburger {
          display: block;
        }


        .dropdown {
          left: 50%;
          top: 30px;
          transform: translateX(35%);
        }
        .dropdown li:hover {
          background-color: #4c9e9e;
        }

        


        .dropdown2 {
          left: 50%;
          top: 30px;
          transform: translateX(35%);
        }
        .dropdown2 li:hover {
          background-color: #4c9e9e;
        }




 }