/* CV PAGE */

.main-container {
    text-align: center;
    background-color: rgb(68, 66, 66);
    color: #fff;
    width: 100vw;
    height: 300vh;
    /* display: static; */
    position: relative;
}

.Title {
    width: auto;
    height: auto;
    padding-top: 2%;
}
.Title h1{
    margin : 0px;
    font-size: 4vw;
}


.PDFcontainer {
    position:absolute;
    top:5%;


}
