/* CV PAGE */

.main-container {
    text-align: center;
    background-color: rgb(68, 66, 66);
    color: #fff;
    width: auto;
    height: 300vh;
    /* display: static; */
    position: relative;
}

.Title {
    width: auto;
    height: auto;
    padding-top: 2%;
}
.Title h1{
    margin : 0px;
    font-size: 4vw;
}


.PDFcontainer {
    position:absolute;
    top:10%;
    left:32%;


}

.Download {
    position:absolute;
    top: 5%;
    left: 42%;
    align-items:center;
}

#downloadcv{
    width: auto;
    height: 10%;
    font-size:2vw;
    background-color: grey;
    border: 2px solid black;
}

#downloadcv:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }