
/* HOMEPAGE */  


.Homescreencontainer{

    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: relative;
    margin: 0px;
}

.Hero1 {
    z-index:1; 
    width: 100vw;
    height: 85vh;
}



.overlayhome {
    margin: 0px;
    width: auto;
    height: auto;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top:8%;
    z-index:2;
    padding-left: 30%;
    padding-right: 30%;
    
    
    
}

.overlayhome h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 5vw;
    color: rgb(255, 255, 255);
    margin: 0px;
    

}


.ButtonContainer{
    padding-top:80%;
    position:absolute;
}


.BUTTON {
    
    margin: 0px;
    width: auto;
    height: auto;
    padding-left:1vw;

}

