
/* HOMEPAGE */  


.Homescreencontainer{

    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: relative;
    margin: 0px;
}

.Hero1 {
    z-index:1; 
    width: 100vw;
    height: 85vh;
    position: absolute;
}



.overlayhome {
    margin: 0px;
    width: auto;
    height: auto;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top:8%;
    z-index:2;
    padding-left: 2%;

    
    
    
}

.overlayhome h1 {
    width: 100vw;
    font-family: 'Times New Roman', Times, serif;
    font-size: 8vw;
    color: rgb(255, 255, 255);
    margin: 0px;
    

}


.ButtonContainer{
    position:absolute;
    bottom: 10%;
    padding-left:28%;
}


.BUTTON {
    
    margin: 0px;
    width: auto;
    height: auto;

}

