.Page2container{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    margin: 0px;
    z-index: 1;
}

.Hero1 {
    z-index:1; 
    position: relative;
    height: 80vh
}

.overlayMain{
    bottom:20%;
    margin: 0px;
    width: 100vw;
    height: 20vh;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:2;
}

.overlayMain h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 8vw;
    color: rgb(255, 255, 255);
    margin: 0px;
    text-align: center;
    

}