.Page2container{
    width: 100vw;
    height: 85vh;
    object-fit: cover;
    position: relative;
    margin: 0px;
}

.Hero1 {
    z-index:1; 
    position: absolute;
}



.overlayMain{
    margin: 0px;
    width: auto;
    height: auto;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 10%;
    z-index:2;
    left: 16%;
}

.overlayMain h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 6vw;
    color: rgb(255, 255, 255);
    margin: 0px;
    text-align: center;
    

}

#Hero {
    width: 100vw !important;
    height: 85vh !important;
}