.WhoAmIMaincontainer{
    width: 100%;
    height: 100vh;
    position:relative;
    display: flex;
    color: White;
    background-color: grey
}


                    .leftBar {
                        width: 30%;
                        height: 100vh;
                        position:relative;
                        background-color: rgb(3, 3, 3);
                        margin: 0;
                        float: left;
                    }


                    .overlayWhoAmI{
                    width: 30vw;
                    height: 100vh;
                    position:relative;
                    }


                    .overlayWhoAmI h1 {
                        font-family: 'Times New Roman', Times, serif;
                        text-align: center;
                        text-align-last: justify;
                        position:absolute;
                        font-size: 4vw;
                        left: 5vw;
                        top: 5%;
                        background-color:rgb(2, 2, 2);
                    }


                    .Me {
                        top: 12%;
                        left: 2vw;
                        width: 40vw;
                        height: auto;
                        object-fit: contain;
                        position:absolute;
                        
                    }

                    .Me img {
                        position:absolute;
                        width: 25vw;
                        height: auto;
                    }

                    .Blurb {
                        position:absolute;
                        top: 32vw;
                        
                    }


                    .Blurb h2{
                        font-family: 'Times New Roman', Times, serif;
                        text-align: center;
                        font-size: 4vw;
                    }

                    .Blurb p{
                        padding-top: 5%;
                        font-family: 'Times New Roman', Times, serif;
                        text-align: center;
                        font-size: 2vw;
                    }



                                                                        .rightBar{
                                                                            width: 70%;
                                                                            height: auto;
                                                                            margin: 0;
                                                                            float: right;
                                                                            position:relative;
                                                                        }




                                                                        .WriteUpAboutMe{

                                                                            width: auto;
                                                                            height: auto;
                                                                            margin: 0;
                                                                            position:absolute;
                                                                            left: 2%;
                                                                            right: 2%;
                                                                        }

                                                                        .WriteUpAboutMe h1 {
                                                                            font-family: 'Times New Roman', Times, serif;
                                                                            text-align: center;
                                                                            font-size: 4vw;
                                                                            margin: 20px;
                                                                            /* padding-bottom:5%;
                                                                            padding-top:5%; */
                                                                            color: black;
                                                                        }

                                                                        .WriteUpAboutMe p {
                                                                            font-family: 'Times New Roman', Times, serif;
                                                                            text-align: center;
                                                                            font-size: 1.5vw;
                                                                            margin: 0;
                                                                            color: black;
                                                                        }