

.blendercontainer{
    background-color: rgb(68, 66, 66);
    color: #fff;
    width: auto;
    height: 83vh;
    position: relative;
    
}

.Heading h1 {
    padding-left: 30%;
    margin : 0px; 
    font-size: 5vw;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}

.Animationscontainer{
    position: relative;
    width: 100%;
    height: 50%;
    top: 5%;

}

.Bot{
    position: absolute;
    left: 20%; 
    top: 15%;
}



.Animationscontainer p {
    font-size: 2vw;
    text-align: center;
}



#botvid{
    width: 50vw;
    height: auto;
}