


.Enginescontainer{
    background-color: rgb(68, 66, 66);
    color: #fff;
    width: 100%;
    height: 100vh;
    display: block;
    position: relative;
}




.UnityContainer{
    position: relative;
    width: 100%;
    height: 50%;

}


.UnityTitle {
    position:absolute;
    width: 100%;
    height: 10%;
}

.UnityTitle h1 {
    font-size: 5vw;
    margin : 0px;
    text-align: center;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}

.Chesscontainer{
    position: relative;
    width: 100%;
    height: 100%;
    top:25%
}

.Chessgame{
    padding-left: 10%;
}


#Chessvideo {
    position: relative;
    width:80vw !important;

}


.ChessDiscription {
    bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.ChessDiscription p {
    font-size: 3vw;

}