/* ThrillCapital Project */

.projectcontainer{
    height: auto;
    width: 100%;
    background-color: rgb(68, 66, 66);
    color: #fff;
    position: relative;
    display: block;
    
}

.thrillCapital {
    position: relative;
    width: 100%;
    height: 180vh
  
}

        .ThrillTitle h1 {
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            margin : 0px;
            padding-top: 2%; 
            font-size: 5vw;
            text-decoration: underline;
            
        }





.ThrillImgcontainer {
    position: absolute;
    width: 100%;
    height: 20vh;
    padding-top: 5vh;
}


                    .Thrillone{
                        
                        display: block;
                        position: absolute;
                        padding-left: 10%;
                        object-fit: contain;
                        width: 50%;

                    }

                    .Thrillone img {
                        width:30vw;
                        
                    }

                    .Thrilltwo{
                        display: block;
                        position: absolute;
                        left: 50%;
                        object-fit: contain;
                        width: 50%;
                        
                    }

                    .Thrilltwo img {
                        width:35vw;
                        
                    }




.Thrillblurbcontainer{
    position: absolute;
    width: 100%;
    height: 10vh;
    padding-top: 30%;
}


            .thrillblurb {

                /* height: 30%; */
                width: auto;
                padding-left: 10%;
                padding-right: 10%;
                text-align: center;
            }

            .thrillblurb p { 
                font-size: 1.2vw;

            }



            .thrillblurb2 {
                padding-top: 5%;
                padding-left: 10%;
                padding-right: 10%;
                text-align: center;

                
            }

            .thrillblurb2 h1 {

                text-decoration: underline;
                font-family: 'Times New Roman', Times, serif;
                font-size: 2.2vw;

            }


.thrillCapitalvideocontainer{
    position: absolute;
    width: 100%;
    height: 20vh;
    padding-top: 45%;

}


                    .ThrillFinal {
                    width: 100%;
                    height:auto;
                    padding-left:34%
                    }

                    .ThrillFinal img {

                        width:30vw;
                        
                        
                    }

                    .ThrillLink{
                        position: absolute;
                        width: auto;
                        padding-left:35%;
                        padding-right:20%;
                        color: black
                        
                    }

                    .ThrillLink a {
                        background-color: #5e5e5e;
                        color: white;
                        padding: 2vh 5vw;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        border: 1px solid black;
                        font-size: 2vw;

                    }


.Programs{
    position: absolute;
    width: 100%;
    height: 10%;   
    text-align: center;
    padding-top: 80%;
}

                .Programs h1{
                    color: rgb(255, 255, 255);
                    text-decoration: underline;
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 2vw;
                    padding-bottom: 1%;
                }
                .Programs h2{
                    color: rgb(255, 255, 255);
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 1.4vw;
                }
                .Git {
                    padding-top: 2%;
                    padding-bottom: 2%;
                }

                .Git p {
                    color: rgb(255, 255, 255);
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 1.4vw;
                }