


.Enginescontainer{
    background-color: rgb(68, 66, 66);
    color: #fff;
    width: 100vw;
    height: 100vh;
    display: block;
    position: absolute;
}

.Enginescontainer h1 {
    font-size: 5vw;
    margin : 0px;
    padding-top: 20px; 
    text-align: center;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}



.UnityContainer{
    padding-top: 20px; 
    width: 100vw;
    height: 25vh;

}
.Chessgame{
    padding-left: 25%;
}
.Chessgame video {
    width: 50vw;
    height: 50vh;
}

.UnityContainer p {
    font-size: 1.2vw;
    padding-left: 15%;
}