.Bitscontainer{
    width: 100vw;
    height: 100vh;
    position:relative;
    margin: 0px;
    background-color:black
}

.Bitscontainer h1 {
    font-family: 'Times New Roman', Times, serif;
    color:white;
    font-size: 50px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-decoration: underline;
    
}

.Bitscontainer p {
    font-family: 'Times New Roman', Times, serif;
    color:white;
    font-size: 20px;
    margin: 0px;
    padding-top: 2%;
    text-align: center;
    
}


.BlobsFiles{
position:absolute;
width: 100vw;
height: 100vh;
/* left: 25%; */
    
}
.Blobcontainer{
    position:absolute;
    width: 100vw;
    height: 50vh;
}









