
.worldcontainer{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position:relative;
    margin: 0px;
    z-index: 1;
}

.portalcontainer{
    position:relative;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.Portal {
    position:absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    
}



.Titleoverlay {
    margin: 0px;
    width: auto;
    height: auto;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:2;
    left: 20%;

}

.Titleoverlay h1 {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    color:rgb(255, 255, 255);
    font-size: 7vw;
    margin: 0px;
    text-align: center;
    
}



.LabelPortal {
    margin: 0px;
    width: Auto;
    height: 20vh;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:2;
    bottom: 0%;
    left: 20%;

}

.LabelPortal h1 {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    color:rgb(255, 255, 255);
    font-size: 5vw;
    margin: 0px;
    text-align: center;
    
}



.Raincontainer{
    position:relative;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}


.Rain {
    position:absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    
}


.LabelRain {
    margin: 0px;
    width: Auto;
    height: 20vh;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:2;
    bottom: 0%;
    left: 20%;

}

.LabelRain h1 {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    color:rgb(255, 255, 255);
    font-size: 5vw;
    margin: 0px;
    text-align: center;
    
}








.Nebularcontainer{
    position:relative;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}


.Nebular {
    position:absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    
}


.LabelNebular {
    margin: 0px;
    width: Auto;
    height: 20vh;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:2;
    bottom: 0%;
    left: 20%;

}

.LabelNebular h1 {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    color:rgb(255, 255, 255);
    font-size: 5vw;
    margin: 0px;
    text-align: center;
    
}








.CrazyGlobecontainer{
    position:relative;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}


.CrazyGlobe {
    position:absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    
}


.LabelCrazyGlobe {
    margin: 0px;
    width: Auto;
    height: 20vh;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:2;
    bottom: 0%;
    left: 20%;

}

.LabelCrazyGlobe h1 {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    color:rgb(255, 255, 255);
    font-size: 5vw;
    margin: 0px;
    text-align: center;
    
}




#Portal {
    width: 100vw !important;
    height: 100vh !important;
}
#Rain {
    width: 100vw !important;
    height: 100vh !important;
}
#Nebular {
    width: 100vw !important;
    height: 100vh !important;
}
#CrazyGlobe {
    width: 100vw !important;
    height: 100vh !important;
}